body
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    
}

.main{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 0px;
}

input{
  border: 3px solid #24f8c7;
  height: 45px;
  width: 550px;
  border-radius: 50px;
  background: #01020275;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(#517e86c4,#949fdf1a),url(C.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  align-items: center;
  justify-content: space-between;
}

nav .logo
{
  text-decoration: none;
  font-size: 27px;
  color: #fff3f3;
  font-weight: bold;
}
nav .fa-staylinked {
  font-size: 42px;
  color: #24f8c7;
}

.nav-links
{
  flex: 1;
  text-align: right;
  
}

.nav-links ul li{
  display: inline-block;
  list-style: none ;
  padding: 8px 12px;
  position: relative;
  text-transform: uppercase;
  
}

.nav-links ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.nav-links ul li ::after{

  content: '';
  width: 0%;
  height: 2px;
  background: #24f8c7;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover ::after{
  width: 100%;
}
/* login form...............................*/
 
<button class="cnn"><a href="#">JOIN US</a></button>
<div class="form">
    <h2>Login Here</h2>
    <input type="email" name="email" placeholder="Enter Email Here">
    <input type="password" placeholder="Enter Password Here">
    <button class="btnn"><a href="#">Login</a></button>
    <P class="link">Don't have an account<br>
    <button class="signup"><a href="#">Sign up</a></P></button>
    <p class="liw">Log in with</p>
   <div class="icon">
     <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
     <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
     <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
     <a href="#"><ion-icon name="logo-google"></ion-icon></a>
   </div>
</div>    

</div>

#footer
{
    width : 50x;
    height: 21px;
    padding-top: 10px;
    margin-top: 62px;
    background-color: #00615c; 
    text-align: center;
    font-weight: bold;
    
}